export NAME="Ross Zurowski"
# Make nano the default editor
export EDITOR="nano"
# Important file paths
export SOURCE=$HOME/Sites/
export YSDN=$HOME/Documents/YSDN/
export GOPATH=$SOURCE/go
export PATH=$PATH:$GOPATH/bin

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"
