export NAME="Ross Zurowski"
export EMAIL="ross@rosszurowski.com"
# Make nano the default editor
export EDITOR="nano"

# Important file paths
export DROPBOX=$HOME/Dropbox/
export SOURCE=$HOME/Sites/
export YSDN=$DROPBOX/YSDN/

# Language-specific paths
export GOPATH=$SOURCE/go
export RBENV_ROOT=/usr/local/var/rbenv
export PATH=$PATH:$GOPATH/bin

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"
