export NAME="Ross Zurowski"
export EMAIL="ross@rosszurowski.com"

# Prompt configuration can be found in .prompt

# Important file paths
export DROPBOX=$HOME/Dropbox/
export SRC=$HOME/Sites/
export YSDN=$DROPBOX/YSDN/

# Language-specific paths
export GOPATH=$SRC/go
export RBENV_ROOT=/usr/local/var/rbenv
export PATH=$PATH:$GOPATH/bin

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Make `vi` the default editor
export EDITOR="vi"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Colors
RED="$(tput setaf 1)"
GREEN="$(tput setaf 2)"
YELLOW="$(tput setaf 3)"
BLUE="$(tput setaf 4)"
MAGENTA="$(tput setaf 5)"
CYAN="$(tput setaf 6)"
WHITE="$(tput setaf 7)"
GRAY="$(tput setaf 8)"
BOLD="$(tput bold)"
UNDERLINE="$(tput sgr 0 1)"
INVERT="$(tput sgr 1 0)"
NOCOLOR="$(tput sgr0)"
