
# Ignore vim files
vim/vim.symlink/backups
vim/vim.symlink/bundle
vim/vim.symlink/tmp
vim/vim.symlink/sessions
vim/vim.symlink/spell
vim/vim.symlink/view
vim/vim.symlink/**/*.swp
vim/vim.symlink/.netrwhist

# Ignore zsh vendor scripts
zsh/antigen.zsh
