
# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Ignore local dotfile extensions
.*.local

# Ignore vim files

vim/backups
vim/bundle
vim/tmp
vim/sessions
vim/spell
vim/view
vim/**/*.swp
vim/.netrwhist
