"*":
  "atom-ide-ui":
    use: {}
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "autocomplete-modules":
    webpack: true
  "autocomplete-plus":
    scopeBlacklist: [
      ".source.gfm"
    ]
  autoprefixer: {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "color-picker":
    preferredFormat: "HEX"
  core:
    disabledPackages: [
      "bookmarks"
      "background-tips"
      "styleguide"
      "language-todo"
      "spell-check"
      "editorconfig"
      "linter-eslint"
    ]
    projectHome: "/User/rosszurowski/Sites/"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "github-atom-light-syntax"
    ]
    titleBar: "custom"
  editor:
    backUpBeforeSaving: true
    fontFamily: "SFMono-Regular"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.9
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "85e0c956-2bc8-b754-ca23-9f79d39a340b"
  "flow-ide": {}
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "ide-flowtype":
    tryFlowBin: true
  "language-babel":
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
      "html:text.html.basic"
    ]
  linter: {}
  "linter-eslint": {}
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  "linter-ui-default":
    decorateOnTreeView: "None"
    hidePanelWhenEmpty: true
    panelHeight: 190.5
    statusBarRepresents: "Current File"
  "markdown-preview":
    useGitHubStyle: true
  "nord-atom-syntax":
    accessibility:
      commentContrast: 20
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui":
    fontSize: 13
    stickyHeaders: true
  "one-light-ui":
    fontSize: 13
    stickyHeaders: true
  "opened-files": {}
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      jsxBracketSameLine: true
      singleQuote: true
      trailingComma: "all"
    silenceErrors: true
    useEditorConfig: false
  "status-bar": {}
  tabs:
    alwaysShowTabBar: false
    usePreviewTabs: true
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
