/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

@import "ui-variables";

@octicons: 'Octicons Regular';


/**
 * Fade the first indent guide
 */
.indent-guide,
:host .indent-guide {
  opacity: 0.4;
}

/**
 *
 * Style overrides for Nucleus UI theme
 *
 */

.title-bar {
  padding-top: 4px;
  padding-bottom: 4px;
}

.title-bar .title {
  font-size: 12px;
}

// Shrink font-size of tree view
.list-group li:not(.list-nested-item),
.list-group li.list-nested-item > .list-item,
.list-tree li:not(.list-nested-item),
.list-tree li.list-nested-item > .list-item {
  font-size: 12px;
}

// Don't bold selected items
.list-group li:not(.list-nested-item).selected,
.list-tree li:not(.list-nested-item).selected,
.list-group li.list-nested-item.selected > .list-item,
.list-tree li.list-nested-item.selected > .list-item {
  font-weight: normal;
}

.tab-bar .tab {
  font-size: 12px;
}

.tab-bar .tab.active .title,
.tab-bar .tab.active:hover .title {
  font-weight: normal;
}

status-bar {
  background: #3b414e;
  font-size: 11px; // Increase from 0.8em
}

.linter-status-count a {
  padding-left: 4px;
  padding-right: 4px;
}

.linter-status-count span.icon::before {
  font-size: 11px;
}

/**
 * Override language-babel italics
 */

atom-text-editor {
  .syntax--source.syntax--js.syntax--jsx {
    .syntax--graphql {
      .syntax--alias {
        font-style: normal;
      }
    }
    .syntax--jsx {
      .syntax--entity {
        &.syntax--other {
          &.syntax--attribute-name {
            font-style: normal;
          }
        }
      }
      .syntax--constant.syntax--character.syntax--entity {
        font-style: normal;
      }
    }
  }
}

/**
 * Custom icons
 */

.list-item,
.file,
.list-group li,
.tab {
  [data-name]:before {
    margin-right: 5px;
    position: relative;
    top: 1px;
    left: -2px;
    font-family: @octicons;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 1.45em;
    width: 1em;
    height: 1em;
    text-align: center;
  }

  //
  // SOURCE
  //

  // Template files
  [data-name$='.html']:before,
  [data-name$='.xml']:before,
  [data-name$='.php']:before,
  [data-name$='.jade']:before,
  [data-name$='.haml']:before,
  [data-name$='.hamlc']:before,
  [data-name$='.erb']:before,
  [data-name$='.twig']:before,
  [data-name$='.hbs']:before {
    content: '\f05f';
  }

  // Executables
  [data-path*='bin/'].icon-file-text:before,
  [data-path*='bin/'].title:before,
  [data-name$='.sh']:before,
  [data-name$='.bat']:before {
    content: '\f0c8';
  }

  //
  // CONFIG
  //

  // Lock files (eg. Gemfile.lock)
  [data-name$='.lock']:before {
    content: '\f06a';
  }

  // Table files
  [data-name$='.csv']:before,
  [data-name$='.tsv']:before {
    content: '\f062';
  }

  // Log files
  .file-icon-log:before,
  [data-name$='.log']:before {
    content: '\f091';
  }

  // Archives
  [data-name$='.zip']:before,
  [data-name$='.rar']:before,
  [data-name$='.gz']:before {
    content: '\f0c4';
  }

  //
  // DOCS
  //

  // Markdown files
  [data-name$='.md']:before,
  [data-name$='.markdown']:before {
    content: '\f0c9';
  }

  //
  // MEDIA FILES
  //

  // Fonts files
  [data-name$='.woff']:before,
  [data-name$='.woff2']:before,
  [data-name$='.ttf']:before,
  [data-name$='.otf']:before,
  [data-name$='.eot']:before {
    content: '\f063';
  }

  // Images files
  [data-name$='.jpg']:before,
  [data-name$='.png']:before,
  [data-name$='.gif']:before,
  [data-name$='.psd']:before,
  [data-name$='.svg']:before,
  [data-name$='.ico']:before {
    content: '\f012';
  }

  [data-name$='.psd']:before,
  [data-name$='.ai']:before,
  [data-name$='.indd']:before {
    content: '\f058';
  }

  [data-name$='.pdf']:before {
    content: '\f014';
  }

  [data-name$='.sketch']:before {
    content: '\f047';
  }
}
